<div class="section">
  <div class="container">
    <div class="row">
      <div class="columns six">
        <p>&copy;
          <script type="text/javascript">document.write(new Date().getFullYear());</script>. All rights reserved. &nbsp; | &nbsp;
          <a href="/">Home</a> &nbsp; / &nbsp;
          <a href="/about">About</a>
        </p>
      </div>
      <div class="columns six">
        {{ creator }} &nbsp; &nbsp; | &nbsp; &nbsp;
        <a href="https://github.com/kajoe14" class="github" target="_blank"><i class="fab fa-github"></i></a> &nbsp; 
        <a href="" class="linkedin"><i class="fab fa-linkedin" target="_blank"></i></a>
      </div>

    </div>
  </div>
</div>